.DS_Store
Thumbs.db
*.log
node_modules/

.venv/
__pycache__/
*.pyc

backend/data/drafts/*.md
backend/data/ai.md
backend/data/ai/*.md
backend/data/final_v/*.md
backend/data/wytyczne.md
backend/data/final_v.md

System.md
.env
